{% set item = __SELF__.item %}

{% put cover %}
<section class="section-cover bg-primary text-white">
    <div class="main-container flex items-center justify-center flex-col">
        <h1 class="text-lg font-bold sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl mb-0 sm:mb-3 max-w-2xl mx-auto text-center">{{this.page.title}}</h1>
        {% partial __SELF__~'::_breadcrumb' title=item.title %}
    </div>
</section>
{% endput %}

<section class="section main-container" id="{{__SELF__}}">
    <article class="card bg-white rounded shadow-lg overflow-hidden">
        {% if item.main_image %}
        <header class="gItem__header mb-6">
            <img src="{{item.main_image.getPath()}}" loading="lazy" width="{{item.main_image.path|imageWidth}}" height="{{item.main_image.path|imageHeight}}" class="w-100" alt="{{item.title}}" />
        </header>
        {% endif %}

        <div class="card-body p-4 pb-0 sm:p-6 sm:pb-0 md:p-8 md:pb-0 lg:p-10 lg:pb-0 xl:p-12 xl:pb-0">
            {% partial __SELF__~'::_meta' item=item %}

            {% if item.introtext %}
            <div class="font-medium italic mb-6">{{item.introtext|raw}}</div>
            {% endif%}

            {% partial __SELF__~'::_toc' toc=item.toc %}
            <div class="fr-view">
                {{item.content|raw}}
            </div>

            {% partial __SELF__~'::_gallery' gallery=item.gallery %}
            {% partial __SELF__~'::_embeds' embeds=item.embeds %}
            {% partial __SELF__~'::_attachments' attachments=item.attachments %}
        </div>

        <div class="card-footer  p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12">
            {% partial __SELF__~'::_sharing' item=item %}
        </div>
    </article>

    {% partial __SELF__~'::_nextprev' nextItem=__SELF__.nextItem() prevItem=__SELF__.previousItem() %}
</section>

{% partial __SELF__~'::_related' relatedItems=__SELF__.relatedItems() %}

{% partial __SELF__~'::_snippet' item=item %}
	
{% put styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
{% endput %}

{% put scripts %}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script type="text/javascript">
	{# Bind fancybox for content image #}
	Fancybox.bind("#{{__SELF__}} article img", {
		groupAll: true
	});
</script>
{% endput %}