{% if items.lastPage() > 1 %}
<nav aria-label="gcontent-pagination">
    <ul class="pagination gcontent-pagination">
        <li class="page-item">
        	<a class="page-link {{items.currentPage() <= 1 ? 'disabled' : ''}}" 
        		data-request="{{__SELF__}}::onPaginate" 
        		data-request-update="'{{partial}}':'{{updateArea}}'" 
        		data-request-data="page:1"
        		data-request-success="window.history.pushState('{page:{{1}}}', '{{__SELF__.pageTitle|default(this.page.title)}}', '{{ this.page.baseFileName|page({ (__SELF__.pageParam): 1 }) }}')"
        		>First</a>
        </li>
        {% if items.currentPage() > 1 %}
        <li class="page-item {{items.currentPage() <= 1 ? 'disabled' : ''}}">

          <a class="page-link" aria-label="Previous" 
          	data-request="{{__SELF__}}::onPaginate" 
          	data-request-update="'{{partial}}':'{{updateArea}}'" 
          	data-request-data="page:{{ items.currentPage()-1}}"
          	data-request-success="window.history.pushState('{page:{{items.currentPage()-1}}}', '{{__SELF__.pageTitle|default(this.page.title)}}', '{{ this.page.baseFileName|page({ (__SELF__.pageParam): items.currentPage()-1 }) }}')"
          	>
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}

        {% for page in 1..items.lastPage() %}
        	<li class="page-item">
            	<a class="page-link" 
            		data-request="{{__SELF__}}::onPaginate" 
            		data-request-update="'{{partial}}':'{{updateArea}}'" 
            		data-request-data="page:{{ page }}"
            		data-request-success="window.history.pushState('{page:{{page}}}', '{{__SELF__.pageTitle|default(this.page.title)}}', '{{ this.page.baseFileName|page({ (__SELF__.pageParam): page }) }}')"
            	>{{ page }}</a>
            </li>
        {% endfor %}


        {% if items.lastPage() > items.currentPage() %}
        <li class="page-item {{items.currentPage() >= items.lastPage() ? 'disabled' : ''}}">
          <a class="page-link" aria-label="Next" 
          	data-request="{{__SELF__}}::onPaginate" 
          	data-request-update="'{{partial}}':'{{updateArea}}'" 
          	data-request-data="page:{{ items.currentPage()+1 }}"
          	data-request-success="window.history.pushState('{page:{{items.currentPage()+1}}}', '{{__SELF__.pageTitle|default(this.page.title)}}', '{{ this.page.baseFileName|page({ (__SELF__.pageParam): items.currentPage()+1 }) }}')"
          	>
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
        <li class="page-item">
        	<a class="page-link" 
        		data-request="{{__SELF__}}::onPaginate" 
        		data-request-update="'{{partial}}':'{{updateArea}}'"
        		data-request-data="page:{{ items.lastPage() }}"
        		data-request-success="window.history.pushState('{page:{{items.lastPage()}}}', '{{__SELF__.pageTitle|default(this.page.title)}}', '{{ this.page.baseFileName|page({ (__SELF__.pageParam): items.lastPage() }) }}')"
        	>Last</a>
        </li>
    </ul>
</nav>
{% endif %}